# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Archivos no necesarios creados por la herramienta
.metadata/
springboot-servicio-item/.gitignore
springboot-servicio-item/.mvn/
springboot-servicio-item/mvnw
springboot-servicio-item/src/test/
springboot-servicio-productos/.gitignore
springboot-servicio-productos/.mvn/
springboot-servicio-productos/mvnw
springboot-servicio-productos/src/test/
